<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetch GSC Data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Fetch Google Search Console Data</h1>
            <form action="{{ url_for('fetch_data_route') }}" method="post">
                <!-- <div class="field">
                    <label class="label">Website URL</label>
                    <div class="control">
                        <input class="input" type="text" name="website" placeholder="Website URL" required>
                    </div>
                </div> -->
                <div class="field">
                    <label class="label">Start Date</label>
                    <div class="control">
                        <input class="input" type="date" name="start_date" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label">End Date</label>
                    <div class="control">
                        <input class="input" type="date" name="end_date" required>
                    </div>
                </div>
                <div class="control">
                    <button class="button is-primary" type="submit">Done</button>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
